{%- extends 'base.html.j2' -%}
{% from 'mathjax.html.j2' import mathjax %}
{% from 'jupyter_widgets.html.j2' import jupyter_widgets %}

{%- block header -%}
<!DOCTYPE html>
<html>
<head>
{%- block html_head -%}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% set nb_title = nb.metadata.get('title', resources['metadata']['name']) | escape_html_keep_quotes %}
<title>{{nb_title}}</title>

{%- block html_head_js -%}
{%- block html_head_js_requirejs -%}
<script src="{{ resources.require_js_url }}"></script>
{%- endblock html_head_js_requirejs -%}
{%- endblock html_head_js -%}

{% block jupyter_widgets %}
  {%- if "widgets" in nb.metadata -%}
    {{ jupyter_widgets(resources.jupyter_widgets_base_url, resources.html_manager_semver_range, resources.widget_renderer_url) }}
  {%- endif -%}
{% endblock jupyter_widgets %}

{% block extra_css %}
{% endblock extra_css %}

{% for css in resources.inlining.css -%}
  <style type="text/css">
    {{ css }}
  </style>
{% endfor %}

{% block notebook_css %}
{{ resources.include_css("static/index.css") }}
{% if resources.theme == 'dark' %}
    {{ resources.include_css("static/theme-dark.css") }}
{% elif resources.theme == 'light'  %}
    {{ resources.include_css("static/theme-light.css") }}
{% else %}
    {{ resources.include_lab_theme(resources.theme) }}
{% endif %}
<style type="text/css">
/* Force rendering true colors when outputing to pdf */
* {
  -webkit-print-color-adjust: exact;
}

/* Misc */
a.anchor-link {
  display: none;
}

/* Input area styling */
.jp-InputArea {
  overflow: hidden;
}

.jp-InputArea-editor {
  overflow: hidden;
}

.CodeMirror.cm-s-jupyter .highlight pre {
/* weird, but --jp-code-padding defined to be 5px but 4px horizontal padding is hardcoded for pre.CodeMirror-line */
  padding: var(--jp-code-padding) 4px;
  margin: 0;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;

}

.jp-OutputArea-output pre {
  line-height: inherit;
  font-family: inherit;
}

.jp-RenderedText pre {
  color: var(--jp-content-font-color1);
  font-size: var(--jp-code-font-size);
}

/* Using table instead of flexbox so that we can use break-inside property */
/* CSS rules under this comment should not be required anymore after we move to the JupyterLab 4.0 CSS */


.jp-CodeCell.jp-mod-outputsScrolled .jp-OutputArea-prompt {
  min-width: calc(
    var(--jp-cell-prompt-width) - var(--jp-private-cell-scrolling-output-offset)
  );
}

.jp-OutputArea-child {
  display: table;
  width: 100%;
}

.jp-OutputPrompt {
  display: table-cell;
  vertical-align: top;
  min-width: var(--jp-cell-prompt-width);
}

body[data-format='mobile'] .jp-OutputPrompt {
  display: table-row;
}

.jp-OutputArea-output {
  display: table-cell;
  width: 100%;
}

body[data-format='mobile'] .jp-OutputArea-child .jp-OutputArea-output {
  display: table-row;
}

.jp-OutputArea-output.jp-OutputArea-executeResult {
  width: 100%;
}

/* Hiding the collapser by default */
.jp-Collapser {
  display: none;
}

@page {
    margin: 0.5in; /* Margin for each printed piece of paper */
}

@media print {
  .jp-Cell-inputWrapper,
  .jp-Cell-outputWrapper {
    display: block;
  }

  .jp-OutputArea-child {
    break-inside: avoid-page;
  }
}
</style>

{% endblock notebook_css %}

{%- block html_head_js_mathjax -%}
{{ mathjax(resources.mathjax_url) }}
{%- endblock html_head_js_mathjax -%}

{%- block html_head_css -%}
{%- endblock html_head_css -%}

<script>
//
// DOM Structure:
//
// <div class="jp-Cell jp-CodeCell jp-Notebook-cell jp-mod-noOutputs">
//   <div class="jp-Cell-inputWrapper">
//     <div class="jp-Collapser jp-InputCollapser jp-Cell-inputCollapser"></div>
//     <div class="jp-InputArea jp-Cell-inputArea">
//       <div class="jp-CodeMirrorEditor jp-Editor jp-InputArea-editor">
//         <div class="CodeMirror cm-s-jupyter">
//           <div class="highlight hl-ipython3">
//             <pre></pre>
//           </div>
//         </div>
//       </div>
//     </div>
//   </div>
//   <div class="jp-Cell-outputWrapper">
//     <div class="jp-Collapser jp-OutputCollapser jp-Cell-outputCollapser">
//     </div>
//     <div class="jp-OutputArea jp-Cell-outputArea">
//       <div class="jp-OutputArea-child">
//       <div class="jp-RenderedText jp-OutputArea-output">
//       </div>
//     </div>
//    </div>
//  </div>
// </div>

function toggle_visibility(a) {
    preElement = a.cell.querySelector('pre');
    if ( !a.toggle ) {
        // hide cell
        a.toggle = true;
        a.short_pre.style.display = 'block';
        a.full_pre.style.display = 'none';
        a.innerHTML = '[show code]';
    } else {
        // show cell
        a.toggle = false;
        a.short_pre.style.display = 'none';
        a.full_pre.style.display = 'block';
        a.innerHTML = '[hide code]';
    }
}

function add_toggle(cell) {
       var inputWrapper = cell.querySelector('.jp-Cell-inputWrapper');
       var a = document.createElement('A');
       a.href='#'
       a.cell = cell;
       a.setAttribute( 'onclick', "toggle_visibility(this); return false;" );

       var div = document.createElement('DIV');
       div.style.textAlign = 'right';
       div.appendChild(a);
       inputWrapper.after(div);
       var preElement = cell.querySelector('.jp-InputArea pre');

       // .short_pre contains copy of per with all lines until @CX-TOGGLE
       a.short_pre = preElement.cloneNode(true);
       var lines = a.short_pre.innerHTML.split('\n');
       var i = 0;
       while ( i < lines.length ) {
           if ( lines[i].indexOf('@CX-TOGGLE') >= 0 ) {
               break;
           }
           i++;
       }
       lines.splice(i,Infinity);
       a.short_pre.innerHTML = lines.join('\n');
       a.short_pre.style.display = 'none';

       // .full_pre is the original pre with @CX-TOGGLE line removed
       a.full_pre = preElement;
       var lines = preElement.innerHTML.split('\n');
       var filteredLines = lines.filter(line => !line.includes('@CX-TOGGLE'));
       preElement.innerHTML = filteredLines.join('\n');
       a.full_pre.after(a.short_pre);
       toggle_visibility(a);
}

function clear_cx_lines(cell) {
    // Clear lines with "@CX"
    var inputArea = cell.querySelector('.jp-InputArea');
    var preElement = inputArea.querySelector('pre');
    if (preElement && preElement.innerHTML.includes('@CX')) {
        var lines = preElement.innerHTML.split('\n');
        var filteredLines = lines.filter(line => !line.includes('@CX'));
        preElement.innerHTML = filteredLines.join('\n');
        return;
    }
}

var CX_CUTOFF = false;

function refresh_cell(cell) {
    if( cell.refreshed ) return;
    cell.refreshed = true;

    // Remove all cells after CX-CUTOFF (including the current cell)
    if ( cell.innerHTML.indexOf('@CX-CUTOFF') >= 0 ) {
      CX_CUTOFF = true;
    }
    if( CX_CUTOFF ) {
      cell.remove();
      return;
    }
    if( !cell.classList.contains('jp-CodeCell')) { return; }
    var inputArea = cell.querySelector('.jp-InputArea');
    var inputText = inputArea.innerText;
    if (inputText.indexOf('@CX-NO-OUTPUT') >= 0) {
        var outputArea = cell.querySelector('.jp-Cell-outputWrapper');
        if (outputArea) {
          outputArea.remove();
        }
    }
    if ( inputText.indexOf('@CX-TOGGLE') >= 0 ) {
        add_toggle(cell);
    }
    if (inputText.indexOf('@CX-REMOVE') >= 0) {
        cell.remove();
    }
}

function refresh() {
    var cells = document.querySelectorAll('.jp-Cell')
    cells.forEach(cell => {
       refresh_cell(cell);
    });
}

document.addEventListener("DOMContentLoaded", function(event) {
    refresh();
});
</script>

{%- endblock html_head -%}
</head>
{%- endblock header -%}


{%- block body_header -%}
{% if resources.theme == 'dark' %}
<body class="jp-Notebook" data-jp-theme-light="false" data-jp-theme-name="JupyterLab Dark">
{% else %}
<body class="jp-Notebook" data-jp-theme-light="true" data-jp-theme-name="JupyterLab Light">
{% endif %}

<style>
.jp-OutputArea-output pre {
    background-color: #f8f8f8;
    padding: 3px;
}

h2 {
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
}

h3 {
  padding-bottom: .1em;
  border-bottom: 1px solid #eaecef;
}

#headline {
   color:#a00;
   text-align: center;
   width: 100%;
   font-family: Helvetica, arial, sans-serif;
   font-size: 20px;
   color: #a00;
   font-weight: bold;
   margin-top: 2em;
   text-decoration: none;
   display: block;
}
#main {
  width: 58em;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding: 45px 45px 5px 45px;
}

@media only screen and (max-width: 58em) {
#main {
  text-align: left;
  width: 100%;
  margin: 0;
  margin-top: 3em;
  padding: 0.1em;
}
</style>

<header><a id="headline" href="https://heinrichhartmann.com">HeinrichHartmann.com</a></header>
<main id="main">

{%- endblock body_header -%}
{% block body_footer %}
</main>
</body>
{% endblock body_footer %}

{% block footer %}
{% block footer_js %}
{% endblock footer_js %}
{{ super() }}
</html>
{% endblock footer %}
